*.iml
.gradle/
.gradle-home/
/local.properties
local.properties
/.idea/
.idea/
.DS_Store
/build
app/build/
*/build/
build/
/captures
captures/
.externalNativeBuild
.cxx/
*.apk
*.aar
*.aab
*.dex
*.class
bin/
gen/
out/
buildOutput/
*.log

